$fg-color: #efefef;

body {
  background: rgb(22, 22, 22);
  color: $fg-color;
}

button, input {
  color: #222222;
}

#resistance {
  padding: 20px;
  text-align: center;
  
  .input-infos {
    font-size: 150%;
  
    .input-box {
  
      input {
        text-align: right;
        border: none;
        background-color: transparent;
        color: $fg-color;
        padding-right: 40px;
        border: solid 1px #999999;
      }
      
      span.ohm {
        margin-left: -40px;
      }
    }
  }
  
  svg {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}
