$fg-color: #efefef;
$bg-color: rgb(22, 22, 22);

body {
  background: $bg-color;
  color: $fg-color;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 800;
}

button, input {
  color: #222222;
}

#resistance {
  padding: 20px;
  text-align: center;
  
  .input-infos {
    font-size: 150%;
  
    .input-box {
  
      input {
        text-align: right;
        border: none;
        background-color: transparent;
        color: $fg-color;
        padding-right: 40px;
        border: solid 1px #999999;
      }
      
      span.ohm {
        margin-left: -40px;
      }
    }
  }
  
  svg {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  
  .modal-content {
    background-color: lighten($bg-color, 5%);
  }
}
