body {
  background: rgb(22, 22, 22);
  color: #efefef;
}

button, input {
  color: #222222;
}

#resistance {
  padding: 20px;
  text-align: center;
}

.resistance input {
  font-size: 2em;
  text-align: center;
}
